.rom1{
    height: 30vh;
    background-image: url("image/image_rome1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rom2{
     height: 30vh;
    background-image: url("image/image_rome6.webp");
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
}

.rom3{
     height: 30vh;
    background-image: url("image/image_rome4.webp");
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
}

.rom4{
    height: 55vh;
    background-image: url("image/image_rome2.webp");
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
}

.rom5{
    height: 55vh;
    background-image: url("image/image_rome5.webp");
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
}

.rom6{
    height:55vh;
    background-image: url("image/image_rome3.webp");
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
}


label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

.photo,.experionse input,.Role,select{
    width :100%;
    padding:6px 12px;
    border: 1px solid #ced4da;;
    border-radius: 5px;
}


.experionse{
    width :100%;
    padding:6px 12px;
    border: 1px solid #ced4da;;
    border-radius: 5px;
}

.User p{
    margin: 0 0;
    padding-left:10px ;
    

}
.btn:hover {
    background-color: #28a745;
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.3s ease;
}
  
.carde:hover {

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}


@media (min-width: 576px) and (max-width: 990px) {
    .rom3 {
        height: 55vh;
    }
}



